/***********************
General
***********************/
*{ 
    padding: 0px;
    margin: 0px;
    font-family: 'Lato';
    
    /*color: #4D4D4D;*/
}

.bodywrapper {
	/*Strictly Necessary */
	width:100%; 
	float: right;

	/*Aesthetics*/
	background: black;	
}
/********************/



/**********************
Header
***********************/
header {
	/*Strictly Necessary */

	width: 100%;	
	height: 65px; /*Adjust the hight to your purposes*/

	/*Aesthetics*/
	background: #ffffff;
	/*border-radius: 7px;*/
	
	/*new*/
	color: #4D4D4D;/*Ready to be permanent*/
	
	
	border-bottom: solid;
	border-width: 2px;
	border-color: #E1E1E1;

}

/*nav {
	
	font-size: 1em;
	font-weight: bold;
	border: dashed;
	background: red;
	padding: 0px;
	margin: 0px;
}*/

ul{
	list-style: none;
	margin: 5px;
	padding: 0px;
}



li{
	margin: 0px;
	padding: 0px;
	display: inline-block;
	
}

.topBar{
	

	
	/*font*/

	/*position*/
	
	/*margin-top: 23px;*/
	padding-right: 60px;
	padding-left: 60px;
}

.leftbox{
	margin: 0px;
	padding: 0px;

	min-height: 40px;
	margin-top:12px; 
	margin-bottom:10px;
  
}

.logo{
	margin: 0px;
	padding: 0px;

	
	width: 36px;
	height: 40px;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
}


.searchBox{
	/*background: yellow;*/
	/*margin-top:5px;
	margin-bottom: 5px;*/
	margin: 0px;
	padding: 0px;
	

	min-height: 40px;
	max-width: 420px;
	background: #F2F2F2;
	border-radius: 20px;

	margin-left: 15px

	
}

.adHocContainer{
	
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
	margin
}



.info{
	/*font*/
	color: #999999;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.8px;

	text-align: left;
	padding: 0px;
	margin: 0px;
	margin-top: 2px;
	padding-right: 20px;
		
}

.info li{
	margin-right: 18px;
}

.links{
	

	text-align: right;
	margin: 0px;
	padding: 0px;
	
	/*font*/
	color: #00af8d;	
	font-size: 15px;
	letter-spacing: 1.2px;
	font-weight: 600;
}

.links li{
	margin-left: 20px;
}

b{
	color: #4D4D4D;
}





















/**********************
Content
***********************/

.ContentBox{
	/*margin-top: 65px; /*The height of the header*/
	display:flex;
	flex-flow: row wrap;
} 

main, section, footer {
	 background: lightgray; 
	 border-radius: 7px; 
	
}

main {
	order: 1;
	flex: 0 1 100%; /*Check later what this syntaxes means*/
	min-height: 200px;

	/*new*/
	background: #FAFAFA;
}

.Description{
	padding: 0px;
	
	margin-left: 60px;
	margin-right: 65px;
	margin-top: 45px;
	margin-bottom: 45px;

	color: #4D4D4D;	
}


h1{
	margin: 0px;
	padding: 0px;
	font-size:29px;
	font-weight: bold;
	letter-spacing: 1px;
	/*line-height: 2em;*/
	
	
	
}

p{
	margin: 0px;
	padding: 0px;
	margin-top: 14px;
	font-size: 18px;
	line-height: 30px;
	font-weight: lighter;
}

@media screen and (min-width: 800px) {

	.Description {  /*first section on the contact page. Para efectos practicas es el primer parrrafo*/
		width: 55%;
		float: left;
}

/**********************
Content
***********************/

section {
	order: 2;
	flex: 0 1 100%;
	/*height: 400px;*/
}

footer {
	order: 3;
	flex: 0 1 100%;
	height: 100px;
}


/**Table Styles */

table {
  border-spacing: 0px;
  width: 100%;
  border-collapse: collapse; 
  /*padding: 10px;*/
  /*padding: 5px;*/
}

thead {
  border-spacing: 0px;
  padding: 40px;
}

thead th{
  font-weight: 400;
  background: #00af8d;
  color: #FFF;
  margin-left: 40px;
}

tr {
  background: white;
  /*outline: thin solid black;*/
  border-bottom: 1pt solid lightgray;
}

th, td {
  text-align: left;
  font-weight: 300;
  padding: 15px;
  /*height: 18px;*/
}

tbody {
  color: black;
  border: dotted;
  border-color: red;
  max-width: 70%;
}
