/***********************
General
***********************/
*{ 
    padding: 0px;
    margin: 0px;
    font-family: 'Lato';
    
    /*color: #4D4D4D;*/
}

.bodywrapper {
	/*Strictly Necessary */
	width:100%; 
	float: right;

	/*Aesthetics*/
	/*background: black;*/	
}
/********************/



/**********************
Header
***********************/
header {
	/*Strictly Necessary */

	width: 100%;	
	min-height: 65px; /*Adjust the hight to your purposes*/

	/*Aesthetics*/
	background: #ffffff;
	
	/*new*/
	color: #4D4D4D;/*Ready to be permanent*/
	
	/*Border*/
	border-bottom: solid;
	border-width: 2px;
	border-color: #E1E1E1;

	/*Good test shit (remember? the cool stuff to post on overtackflow)*/
	/*border-top: solid blue 15px;*/
	
}


ul{
	list-style: none;
	margin: 5px;
	padding: 0px;
}



li{
	margin: 0px;
	padding: 0px;
	display: inline-block;
	
}

.topBar{
	
	/*Good test shit (remember? the cool stuff to post on overtackflow)*/
	/*margin-top:-15px;*/
	
	padding-right: 60px;
	padding-left: 60px;
}

.leftbox{
	margin: 0px;
	padding: 0px;
	
	min-height: 40px;
	
	/*Margins*/
	margin-top:12px; 
	margin-bottom:10px;
	/*******/

	/*background: lightpink;*/
  
}


.logo{
	margin: 0px;
	padding: 0px;

	
	width: 36px;
	height: 40px;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;

	/*background: red;*/
}

.magnifierLogo{
	/*background: red;*/
	color:#C0C0C0;
	font-size: 18px;
	position: absolute;
  	left: 70px;
  	top: 8px;
}


.searchBox{

	margin: 0px;
	padding: 0px;
	position: absolute;
	
	left:50px;
	top:0px;

	width: 80%;

	/*Size*/
	height:40px;
	/*max-width: 420px;*/

	/*Margins */

	
	padding-left:50px;

	background: #F2F2F2;

	border-radius: 20px;
	border:none;

	font-size: 18px;

	/*Taking out the anoying highlight*/
	outline-width: 0;
	
}




.rightbox{

	margin: 0px;
	padding: 0px;
	margin-top: 20px;

	/*background: green;*/
}



.info{
	/*font*/
	color: #999999;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.8px;
	
	text-align: center;
	padding: 0px;
	margin: 0px;
	margin-top: 2px;
	padding-right: 20px;

	/*background: yellow;*/
		
}

.info li{
	margin-right: 18px;
}

.links{
	
	text-align: center;
	margin: 0px;
	padding: 0px;
	
	/*font*/
	color: #00af8d;	
	font-size: 15px;
	letter-spacing: 1.2px;
	font-weight: 600;

	/*background: red;*/

}

a {
	color: #00af8d;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: #C84B80;
	/*color: #006954;*/
}

.links li{
	margin-left: 20px;
}

b{
	color: #4D4D4D;
}































/**********************
Content
***********************/

.ContentBox{
	/*margin-top: 65px; /*The height of the header*/
	display:flex;
	flex-flow: row wrap;
} 

main, section, footer {
	 
	 /*border-radius: 7px; */
	
}

main {
	order: 1;
	flex: 0 1 100%; /*Check later what this syntaxes means*/
	min-height: 200px;

	/*new*/
	background: #FAFAFA;
}

.Description{
	padding: 0px;
	
	margin-left: 60px;
	margin-right: 65px;
	margin-top: 45px;
	margin-bottom: 45px;

	color: #4D4D4D;	
}


h1{
	margin: 0px;
	padding: 0px;
	font-size:29px;
	font-weight: bold;
	letter-spacing: 1px;
	/*line-height: 2em;*/
	
	
	
}

p{
	margin: 0px;
	padding: 0px;
	margin-top: 14px;
	font-size: 18px;
	line-height: 30px;
	font-weight: lighter;
}
.Description {  /*first section on the contact page. Para efectos practicas es el primer parrrafo*/
		width: 55%;
		float: left;
}

/*@media screen and (min-width: 800px) {

	
}*/

/**********************
Content
***********************/

section {
	border-top: solid #00af8d 50px;
	order: 2;
	flex: 0 1 100%;
	/*height: 400px;*/
}











/*************
Table Styles 
**************/

table {

	margin-top: -48px;

	width: 92%;
	margin-left: 60px;
	padding-right: 60px;


	
	border-spacing: 0px;
	border-collapse: collapse; 


  /*padding: 10px;*/
  /*padding: 5px;*/
}

tr {	
	border-bottom: 1pt solid lightgray;
	padding: 0px;
	margin: 0px;
}

/*Taking the border of the header out*/
tr:first-child{
	border: none;
}
/**************************************/

/*************
Table Header
**************/
th{
	margin: 0px;
	padding: 0px;

	color: #fff;
	font-size: 14px;
	text-align: left;
	font-weight: 600;

	

	padding-top: 12px;
	padding-bottom: 12px;

	/*border: solid black 1px;*/


}

.boolean_side{
	text-align: right;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}



/***************************/


td{
	padding: 0px;
	margin: 0px;

	font-weight: 600;
	font-size: 12px;
	color:#4D4D4D;

	text-align: left;
	
	/*padding-right: 10px;*/

	padding-top:10px;
	padding-bottom: 8px;


	/*border: solid black 1px;*/
}

/*****************************
1st Column -> # column
*****************************/
td:first-child{
	color: #A1A1A1;
	font-weight: 400;
	padding-right: 10px;
}
/*****************************
3rd Column -> Name column
*****************************/
th:first-child + th + th {
	padding-left: 20px;
}

td:first-child + td + td{
	font-size: 15px;
	font-weight: 600;
	padding-left: 20px;
}

/*****************************
7th Column -> Time column
******************************/
td:first-child + td + td + td + td + td + td{
	
}
th:first-child + th + th + th + th + th + th{
	width: 80px;
}


/*******************************/


/*Making the circles bigger*/
td:first-child + td + td + td + td + td + td + td{ /*Same*/
	font-size: 16px;
	color: #E6E6E6;
	text-align: right;
	padding-left: 10px;
}

td:first-child + td + td + td + td + td + td + td + td{
	font-size: 16px;
	color: #E6E6E6;
	text-align: right;
	padding-left: 10px;
}

td:first-child + td + td + td + td + td + td + td + td + td{
	font-size: 16px;
	color: #E6E6E6;
	text-align: right;
	padding-left: 10px;
}

td:first-child + td + td + td + td + td + td + td + td + td + td{
	font-size: 16px;
	color: #E6E6E6;
	text-align: right;
	padding-left: 10px;
}

td:first-child + td + td + td + td + td + td + td + td + td + td + td{
	font-size: 16px;
	color: #E6E6E6;
	text-align: right;
	padding-left: 10px;
}

td:first-child + td + td + td + td + td + td + td + td + td + td + td + td{
	font-size: 16px;
	color: #E6E6E6;
	text-align: right;
	padding-left: 10px;
}

td:first-child + td + td + td + td + td + td + td + td + td + td + td + td + td{
	font-size: 16px;
	color: #E6E6E6;
	text-align: right;
	padding-left: 10px;
}

td:first-child + td + td + td + td + td + td + td + td + td + td + td + td + td + td{
	font-size: 16px;
	color: #E6E6E6;
	text-align: right;
	padding-left: 10px;
}

td:first-child + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td{
	font-size: 16px;
	color: #E6E6E6;
	text-align: right;
	font-size: 17px;
	padding-left: 10px;
}

td:first-child + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td {
	font-size: 16px;
	color: #E6E6E6;
	text-align: right;
	padding-left: 10px;
}


